<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PixelPal"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.favorite_games.FavoriteGamesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.signing.AccountCreationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.all_creators.AllCreatorsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.publisher_details.PublisherDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.platforms.fragments.platform.platform_details.PlatformDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.platforms.fragments.store.store_details.StoreDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.creator_details.CreatorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.all_games.AllGamesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.game_details.activity.GameDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>